<h1>List of Pictures</h1>

<%= link_to "Add a Picture", new_picture_url %>

<ul>
  <% @pictures.each do |picture| %>
    <li>
      <%= link_to image_tag(picture.url, :width => 200), picture_url(picture.id) %>
      <%= link_to "Delete", picture_url(picture.id), :method => :delete %>
    </li>
  <% end %>
</ul>