<h1>Add A New Picture</h1>

<form action="/pictures" method="post">
  URL: <input type="text" name="url">
  <br>
  Note: <textarea name="note" placeholder="Sample Note"></textarea>
  <br>
  <input type="submit" name="submit" value="Submit Form">
</form>