<h1>Picture Details</h1>

<div>
  <h2><%= @picture.notes %></h2>
  <p>
    <%= link_to "Edit This Picture", edit_picture_url(@picture.id) %>
    </p>
  <img width="200" src="<%= @picture.url %>"/>
</div>

<a href="/pictures">Back</a>

